<fieldset>
  <legend>Controls</legend>
  <span id="controlLeft" class="btn">Left</span>
  <span id="controlRight" class="btn">Right</span>
  <span id="controlJump" class="btn">Jump</span>
</fieldset>
