<fieldset>
  <legend>Name your bunny</legend>
  {{! <label for="name">Name:</label> }}
  <input type="text" id="userName" maxlength="15">
</fieldset>
<fieldset>
  <legend>Points collected</legend>
  <span id="points">0</span>
</fieldset>
