// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

html, body
  overflow hidden
  width 100%
  height 100%
  padding 0
  margin 0

.splash
  position absolute
  text-align center
  transform offset(0,0)
  width 100%
  height 100%
